This notebook will combine the three genre copumns and provide some analysis on them

In [ ]:
#standard imports
import numpy as np
import pandas as pd
import json

# customisations - ensure tables show all columns
pd.set_option("display.max_columns", 100)

#imports for graphing
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("../data/meta.csv")

In [ ]:
data.info()

In [ ]:
data['ccu']

Counts

In [ ]:
g1_count = data['genre_1'].value_counts(dropna=True, sort=True)
df_g1 = pd.DataFrame(g1_count)
df_g1_reset = df_g1.reset_index()
df_g1_reset.columns = ['genres', 'counts']

In [ ]:
df_g1_reset

In [ ]:
g2_count = data['genre_2'].value_counts(dropna=True, sort=True)
df_g2 = pd.DataFrame(g2_count)
df_g2_reset = df_g2.reset_index()
df_g2_reset.columns = ['genres', 'counts']

In [ ]:
df_g2_reset

In [ ]:
g3_count = data['genre_3'].value_counts(dropna=True, sort=True)
df_g3 = pd.DataFrame(g3_count)
df_g3_reset = df_g3.reset_index()
df_g3_reset.columns = ['genres', 'counts']

In [ ]:
df_g3_reset

In [ ]:
g1g2_df = pd.merge(df_g1_reset, df_g2_reset, how='outer', left_on='genres', right_on='genres')
g1g2_df

In [ ]:
g1g2g3_df = pd.merge(g1g2_df, df_g3_reset, how='outer', left_on='genres', right_on='genres')
g1g2g3_df

In [ ]:
g1g2g3_df = g1g2g3_df.fillna(0)

In [ ]:
g1g2g3_df.info()

In [ ]:
g1g2g3_df['total'] = g1g2g3_df[['counts_x', 'counts_y', 'counts']].sum(axis=1)

In [ ]:
g1g2g3_df

In [ ]:
genres_df = g1g2g3_df[['genres', 'total']]
genres_df

In [ ]:
genres_df = genres_df.drop([19,25])

In [ ]:
genres_df

Averages

In [ ]:
g1_pos = data.groupby('genre_1')['pos_percent'].mean()
g1_pos_df = pd.DataFrame(g1_pos)
g1_pos_reset = g1_pos_df.reset_index()
g1_pos_reset.columns = ['genres', 'averages']
g1_pos_reset

In [ ]:
g2_pos = data.groupby('genre_2')['pos_percent'].mean()
g2_pos_df = pd.DataFrame(g2_pos)
g2_pos_reset = g2_pos_df.reset_index()
g2_pos_reset.columns = ['genres', 'averages']
g2_pos_reset

In [ ]:
g3_pos = data.groupby('genre_3')['pos_percent'].mean()
g3_pos_df = pd.DataFrame(g3_pos)
g3_pos_reset = g3_pos_df.reset_index()
g3_pos_reset.columns = ['genres', 'averages']
g3_pos_reset

In [ ]:
g1g2pos_df = pd.merge(g1_pos_reset, g2_pos_reset, how='outer', left_on='genres', right_on='genres')

In [ ]:
g1g2g3pos_df = pd.merge(g1g2pos_df, g3_pos_reset, how='outer', left_on='genres', right_on='genres')

In [ ]:
g1g2g3pos_df

In [ ]:
averages = g1g2g3pos_df.drop(columns=['genres'])

In [ ]:
averages = averages.T.fillna(averages.mean(axis=1)).T

In [ ]:
g1g2g3pos_df[['averages_x', 'averages_y', 'averages']] = averages[['averages_x', 'averages_y', 'averages']]

In [ ]:
g1g2g3pos_df

In [ ]:
g1g2g3pos_df['average'] = g1g2g3pos_df[['averages_x', 'averages_y', 'averages']].mean(axis=1)

In [ ]:
g1g2g3pos_df = g1g2g3pos_df[['genres', 'average']]

In [ ]:
genres_df = pd.merge(genres_df, g1g2g3pos_df, how='left', left_on='genres', right_on='genres')

In [ ]:
genres_df

review_score

In [ ]:
g1_rev = data.groupby('genre_1')['review_score'].mean()
g1_rev_df = pd.DataFrame(g1_rev)
g1_rev_reset = g1_rev_df.reset_index()
g1_rev_reset.columns = ['genres', 'averages']

In [ ]:
g2_rev = data.groupby('genre_2')['review_score'].mean()
g2_rev_df = pd.DataFrame(g2_rev)
g2_rev_reset = g2_rev_df.reset_index()
g2_rev_reset.columns = ['genres', 'averages']

In [ ]:
g3_rev = data.groupby('genre_3')['review_score'].mean()
g3_rev_df = pd.DataFrame(g3_rev)
g3_rev_reset = g3_rev_df.reset_index()
g3_rev_reset.columns = ['genres', 'averages']

In [ ]:
g1g2rev_df = pd.merge(g1_rev_reset, g2_rev_reset, how='outer', left_on='genres', right_on='genres')

In [ ]:
g1g2g3rev_df = pd.merge(g1g2rev_df, g3_rev_reset, how='outer', left_on='genres', right_on='genres')

In [ ]:
averages = g1g2g3rev_df.drop(columns=['genres'])

In [ ]:
averages = averages.T.fillna(averages.mean(axis=1)).T

In [ ]:
g1g2g3rev_df[['averages_x', 'averages_y', 'averages']] = averages[['averages_x', 'averages_y', 'averages']]

In [ ]:
g1g2g3rev_df['avg_rev'] = g1g2g3rev_df[['averages_x', 'averages_y', 'averages']].mean(axis=1)

In [ ]:
g1g2g3rev_df = g1g2g3rev_df[['genres', 'avg_rev']]

In [ ]:
genres_df = pd.merge(genres_df, g1g2g3rev_df, how='left', left_on='genres', right_on='genres')

In [ ]:
#genres_df = genres_df.drop(columns=['averages_x', 'averages_y', 'averages', 'avg_rev_x', 'avg_rev_y'])

In [ ]:
genres_df

Average Play Time

In [ ]:
g1_apt = data.groupby('genre_1')['average_forever'].mean()
g1_apt_df = pd.DataFrame(g1_apt)
g1_apt_reset = g1_apt_df.reset_index()
g1_apt_reset.columns = ['genres', 'averages']

In [ ]:
g2_apt = data.groupby('genre_2')['average_forever'].mean()
g2_apt_df = pd.DataFrame(g2_apt)
g2_apt_reset = g2_apt_df.reset_index()
g2_apt_reset.columns = ['genres', 'averages']

In [ ]:
g3_apt = data.groupby('genre_3')['average_forever'].mean()
g3_apt_df = pd.DataFrame(g3_apt)
g3_apt_reset = g3_apt_df.reset_index()
g3_apt_reset.columns = ['genres', 'averages']

In [ ]:
g1g2apt_df = pd.merge(g1_apt_reset, g2_apt_reset, how='outer', left_on='genres', right_on='genres')

In [ ]:
g1g2g3apt_df = pd.merge(g1g2apt_df, g3_apt_reset, how='outer', left_on='genres', right_on='genres')

In [ ]:
averages = g1g2g3apt_df.drop(columns=['genres'])

In [ ]:
averages = averages.T.fillna(averages.mean(axis=1)).T

In [ ]:
g1g2g3apt_df[['averages_x', 'averages_y', 'averages']] = averages[['averages_x', 'averages_y', 'averages']]

In [ ]:
g1g2g3apt_df['avg_apt'] = g1g2g3apt_df[['averages_x', 'averages_y', 'averages']].mean(axis=1)

In [ ]:
g1g2g3apt_df = g1g2g3apt_df[['genres', 'avg_apt']]

In [ ]:
genres_df = pd.merge(genres_df, g1g2g3apt_df, how='left', left_on='genres', right_on='genres')

In [ ]:
genres_df

CCU

In [70]:
g1_ccu = data.groupby('genre_1')['ccu'].sum()
g1_ccu_df = pd.DataFrame(g1_ccu)
g1_ccu_reset = g1_ccu_df.reset_index()
g1_ccu_reset.columns = ['genres', 'total']

In [71]:
g2_ccu = data.groupby('genre_2')['ccu'].sum()
g2_ccu_df = pd.DataFrame(g2_ccu)
g2_ccu_reset = g2_ccu_df.reset_index()
g2_ccu_reset.columns = ['genres', 'total']

In [73]:
g3_ccu = data.groupby('genre_3')['ccu'].sum()
g3_ccu_df = pd.DataFrame(g3_ccu)
g3_ccu_reset = g3_ccu_df.reset_index()
g3_ccu_reset.columns = ['genres', 'total']

In [74]:
g1g2ccu_df = pd.merge(g1_ccu_reset, g2_ccu_reset, how='outer', left_on='genres', right_on='genres')

In [75]:
g1g2g3ccu_df = pd.merge(g1g2ccu_df, g3_ccu_reset, how='outer', left_on='genres', right_on='genres')

In [76]:
averages = g1g2g3ccu_df.drop(columns=['genres'])

In [77]:
averages = averages.T.fillna(averages.mean(axis=1)).T

In [79]:
g1g2g3ccu_df[['total_x', 'total_y', 'total']] = averages[['total_x', 'total_y', 'total']]

In [80]:
g1g2g3ccu_df['tot_ccu'] = g1g2g3ccu_df[['total_x', 'total_y', 'total']].sum(axis=1)

In [81]:
g1g2g3ccu_df = g1g2g3ccu_df[['genres', 'tot_ccu']]

In [82]:
genres_df = pd.merge(genres_df, g1g2g3ccu_df, how='left', left_on='genres', right_on='genres')

In [83]:
genres_df

                   genres    total    average   avg_rev     avg_apt    tot_ccu
0                  Action  32387.0  56.915704  3.653845   56.466692  7190648.0
1               Adventure  30633.0  62.302156  4.063247  102.394373  4209356.0
2                  Casual  32132.0  67.837250  3.877880   84.713681   575313.0
3                   Indie  49993.0  68.475145  4.146436   92.037750  2422657.0
4              Simulation   9859.0  64.154987  4.281080  223.043627  1046069.0
5                     RPG   8350.0  68.275669  4.413776  235.654923  1106010.0
6                Strategy   8258.0  67.975488  4.223122  219.223950  1443204.0
7            Free to Play   2902.0  69.068974  5.644327  216.315793  2516992.0
8                  Racing   1901.0  64.285328  4.001011  150.084329   118939.0
9                 Violent    457.0  56.934949  3.827975   30.134612      185.0
10                 Sports   1641.0  63.593194  3.785226  201.082256   200085.0
11         Sexual Content     95.0  62.271419  4.273684   40.042105       51.0
12  Massively Multiplayer    942.0  55.355812  4.004941  600.047324  1250498.0
13                 Nudity    100.0  59.663000  4.527244   22.547276       31.5
14                   Gore    266.0  53.688336  3.645131   40.975664       79.0
15           Early Access   2635.0  61.470032  3.415956   52.134110   126833.0
16              Education      9.0  46.875000  0.555556    0.000000        0.0
17  Design & Illustration      3.0  35.607143  1.500000    0.000000        0.0
18              Utilities      3.0  31.428571  1.250000    0.000000        0.0
19      Software Training      2.0  53.750000  2.500000    0.000000        0.0
20       Audio Production      3.0  85.023355  7.250000   41.000000        0.0
21       Game Development      6.0  33.673669  1.700000    0.000000        1.5
22       Video Production      1.0  66.666667  5.000000    0.000000        0.0
23         Web Publishing      1.0   0.000000  0.000000    0.000000        0.0
24             Accounting      1.0  80.000000  0.000000    0.000000        0.0