This notebook will combine the three genre copumns and provide some analysis on them

In [1]:
#standard imports
import numpy as np
import pandas as pd
import json

# customisations - ensure tables show all columns
pd.set_option("display.max_columns", 100)

#imports for graphing
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("../data/meta.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75701 entries, 0 to 75700
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  75701 non-null  object
 1   name                  75701 non-null  object
 2   steam_appid           75701 non-null  int64
 3   detailed_description  75701 non-null  object
 4   header_image          75701 non-null  object
 5   release_date          75701 non-null  object
 6   genre_1               75701 non-null  object
 7   genre_2               75701 non-null  object
 8   genre_3               75701 non-null  object
 9   developer             75701 non-null  object
 10  publisher             75701 non-null  object
 11  owners                75701 non-null  object
 12  average_forever       75701 non-null  float64
 13  median_forever        75701 non-null  float64
 14  price                 75701 non-null  float64
 15  ccu                   75701 non-null  float64
 16  review_score          75701 non-null  int64
 17  review_score_desc     75701 non-null  object
 18  total_positive        75701 non-null  int64
 19  total_negative        75701 non-null  int64
 20  total_reviews         75701 non-null  int64
 21  pos_percent           75701 non-null  float64
 22  neg_percent           75701 non-null  float64
dtypes: float64(6), int64(5), object(12)
memory usage: 13.3+ MB

Counts

In [6]:
g1_count = data['genre_1'].value_counts(dropna=True, sort=True)
df_g1 = pd.DataFrame(g1_count)
df_g1_reset = df_g1.reset_index()
df_g1_reset.columns = ['genres', 'counts']

In [7]:
df_g1_reset

                   genres  counts
0                  Action   32050
1               Adventure   16106
2                  Casual   14516
3                   Indie    7255
4              Simulation    1667
5                     RPG    1238
6                Strategy    1070
7            Free to Play     567
8                  Racing     413
9                 Violent     387
10                 Sports     154
11         Sexual Content      95
12  Massively Multiplayer      73
13                 Nudity      52
14                   Gore      36
15           Early Access      16
16              Education       4
17  Design & Illustration       1
18              Utilities       1

In [8]:
g2_count = data['genre_2'].value_counts(dropna=True, sort=True)
df_g2 = pd.DataFrame(g2_count)
df_g2_reset = df_g2.reset_index()
df_g2_reset.columns = ['genres', 'counts']

In [9]:
df_g2_reset

                   genres  counts
0                   Indie   24310
1               Adventure   14409
2                  Casual   13048
3         No Second Genre   11405
4              Simulation    3293
5                     RPG    2739
6                Strategy    2483
7            Free to Play    1427
8            Early Access     738
9                  Racing     566
10                 Sports     482
11  Massively Multiplayer     321
12                   Gore     205
13                 Action     171
14                Violent      48
15                 Nudity      48
16      Software Training       2
17              Education       2
18       Audio Production       1
19       Game Development       1
20       Video Production       1
21         Web Publishing       1

In [10]:
g3_count = data['genre_3'].value_counts(dropna=True, sort=True)
df_g3 = pd.DataFrame(g3_count)
df_g3_reset = df_g3.reset_index()
df_g3_reset.columns = ['genres', 'counts']

In [11]:
df_g3_reset

                   genres  counts
0          No Third Genre   33118
1                   Indie   18428
2              Simulation    4899
3                Strategy    4705
4                  Casual    4568
5                     RPG    4373
6            Early Access    1881
7                  Sports    1005
8                  Racing     922
9            Free to Play     908
10  Massively Multiplayer     548
11                 Action     166
12              Adventure     118
13                   Gore      25
14                Violent      22
15       Game Development       5
16              Education       3
17       Audio Production       2
18              Utilities       2
19  Design & Illustration       2
20             Accounting       1

In [15]:
g1g2_df = pd.merge(df_g1_reset, df_g2_reset, how='outer', left_on='genres', right_on='genres')
g1g2_df

                   genres  counts_x  counts_y
0                  Action   32050.0     171.0
1               Adventure   16106.0   14409.0
2                  Casual   14516.0   13048.0
3                   Indie    7255.0   24310.0
4              Simulation    1667.0    3293.0
5                     RPG    1238.0    2739.0
6                Strategy    1070.0    2483.0
7            Free to Play     567.0    1427.0
8                  Racing     413.0     566.0
9                 Violent     387.0      48.0
10                 Sports     154.0     482.0
11         Sexual Content      95.0       NaN
12  Massively Multiplayer      73.0     321.0
13                 Nudity      52.0      48.0
14                   Gore      36.0     205.0
15           Early Access      16.0     738.0
16              Education       4.0       2.0
17  Design & Illustration       1.0       NaN
18              Utilities       1.0       NaN
19        No Second Genre       NaN   11405.0
20      Software Training       NaN       2.0
21       Audio Production       NaN       1.0
22       Game Development       NaN       1.0
23       Video Production       NaN       1.0
24         Web Publishing       NaN       1.0

In [16]:
g1g2g3_df = pd.merge(g1g2_df, df_g3_reset, how='outer', left_on='genres', right_on='genres')
g1g2g3_df

                   genres  counts_x  counts_y   counts
0                  Action   32050.0     171.0    166.0
1               Adventure   16106.0   14409.0    118.0
2                  Casual   14516.0   13048.0   4568.0
3                   Indie    7255.0   24310.0  18428.0
4              Simulation    1667.0    3293.0   4899.0
5                     RPG    1238.0    2739.0   4373.0
6                Strategy    1070.0    2483.0   4705.0
7            Free to Play     567.0    1427.0    908.0
8                  Racing     413.0     566.0    922.0
9                 Violent     387.0      48.0     22.0
10                 Sports     154.0     482.0   1005.0
11         Sexual Content      95.0       NaN      NaN
12  Massively Multiplayer      73.0     321.0    548.0
13                 Nudity      52.0      48.0      NaN
14                   Gore      36.0     205.0     25.0
15           Early Access      16.0     738.0   1881.0
16              Education       4.0       2.0      3.0
17  Design & Illustration       1.0       NaN      2.0
18              Utilities       1.0       NaN      2.0
19        No Second Genre       NaN   11405.0      NaN
20      Software Training       NaN       2.0      NaN
21       Audio Production       NaN       1.0      2.0
22       Game Development       NaN       1.0      5.0
23       Video Production       NaN       1.0      NaN
24         Web Publishing       NaN       1.0      NaN
25         No Third Genre       NaN       NaN  33118.0
26             Accounting       NaN       NaN      1.0

In [17]:
g1g2g3_df = g1g2g3_df.fillna(0)

In [19]:
g1g2g3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    27 non-null     object
 1   counts_x  27 non-null     float64
 2   counts_y  27 non-null     float64
 3   counts    27 non-null     float64
dtypes: float64(3), object(1)
memory usage: 996.0+ bytes

In [20]:
g1g2g3_df['total'] = g1g2g3_df[['counts_x', 'counts_y', 'counts']].sum(axis=1)

In [21]:
g1g2g3_df

                   genres  counts_x  counts_y   counts    total
0                  Action   32050.0     171.0    166.0  32387.0
1               Adventure   16106.0   14409.0    118.0  30633.0
2                  Casual   14516.0   13048.0   4568.0  32132.0
3                   Indie    7255.0   24310.0  18428.0  49993.0
4              Simulation    1667.0    3293.0   4899.0   9859.0
5                     RPG    1238.0    2739.0   4373.0   8350.0
6                Strategy    1070.0    2483.0   4705.0   8258.0
7            Free to Play     567.0    1427.0    908.0   2902.0
8                  Racing     413.0     566.0    922.0   1901.0
9                 Violent     387.0      48.0     22.0    457.0
10                 Sports     154.0     482.0   1005.0   1641.0
11         Sexual Content      95.0       0.0      0.0     95.0
12  Massively Multiplayer      73.0     321.0    548.0    942.0
13                 Nudity      52.0      48.0      0.0    100.0
14                   Gore      36.0     205.0     25.0    266.0
15           Early Access      16.0     738.0   1881.0   2635.0
16              Education       4.0       2.0      3.0      9.0
17  Design & Illustration       1.0       0.0      2.0      3.0
18              Utilities       1.0       0.0      2.0      3.0
19        No Second Genre       0.0   11405.0      0.0  11405.0
20      Software Training       0.0       2.0      0.0      2.0
21       Audio Production       0.0       1.0      2.0      3.0
22       Game Development       0.0       1.0      5.0      6.0
23       Video Production       0.0       1.0      0.0      1.0
24         Web Publishing       0.0       1.0      0.0      1.0
25         No Third Genre       0.0       0.0  33118.0  33118.0
26             Accounting       0.0       0.0      1.0      1.0

In [25]:
genres_df = g1g2g3_df[['genres', 'total']]
genres_df

                   genres    total
0                  Action  32387.0
1               Adventure  30633.0
2                  Casual  32132.0
3                   Indie  49993.0
4              Simulation   9859.0
5                     RPG   8350.0
6                Strategy   8258.0
7            Free to Play   2902.0
8                  Racing   1901.0
9                 Violent    457.0
10                 Sports   1641.0
11         Sexual Content     95.0
12  Massively Multiplayer    942.0
13                 Nudity    100.0
14                   Gore    266.0
15           Early Access   2635.0
16              Education      9.0
17  Design & Illustration      3.0
18              Utilities      3.0
19        No Second Genre  11405.0
20      Software Training      2.0
21       Audio Production      3.0
22       Game Development      6.0
23       Video Production      1.0
24         Web Publishing      1.0
25         No Third Genre  33118.0
26             Accounting      1.0

In [26]:
genres_df = genres_df.drop([19,25])

In [29]:
genres_df

                   genres    total
0                  Action  32387.0
1               Adventure  30633.0
2                  Casual  32132.0
3                   Indie  49993.0
4              Simulation   9859.0
5                     RPG   8350.0
6                Strategy   8258.0
7            Free to Play   2902.0
8                  Racing   1901.0
9                 Violent    457.0
10                 Sports   1641.0
11         Sexual Content     95.0
12  Massively Multiplayer    942.0
13                 Nudity    100.0
14                   Gore    266.0
15           Early Access   2635.0
16              Education      9.0
17  Design & Illustration      3.0
18              Utilities      3.0
20      Software Training      2.0
21       Audio Production      3.0
22       Game Development      6.0
23       Video Production      1.0
24         Web Publishing      1.0
26             Accounting      1.0

Averages

In [44]:
g1_pos = data.groupby('genre_1')['pos_percent'].mean()
g1_pos_df = pd.DataFrame(g1_pos)
g1_pos_reset = g1_pos_df.reset_index()
g1_pos_reset.columns = ['genres', 'averages']
g1_pos_reset

                   genres   averages
0                  Action  66.800660
1               Adventure  70.539446
2                  Casual  68.579227
3   Design & Illustration   0.000000
4            Early Access  58.631548
5               Education  61.458333
6            Free to Play  66.580424
7                    Gore  56.226985
8                   Indie  68.018661
9   Massively Multiplayer  55.569236
10                 Nudity  57.498508
11                    RPG  68.493733
12                 Racing  64.313721
13         Sexual Content  62.271419
14             Simulation  63.076899
15                 Sports  62.683509
16               Strategy  68.265567
17              Utilities   0.000000
18                Violent  53.697837

In [45]:
g2_pos = data.groupby('genre_2')['pos_percent'].mean()
g2_pos_df = pd.DataFrame(g2_pos)
g2_pos_reset = g2_pos_df.reset_index()
g2_pos_reset.columns = ['genres', 'averages']
g2_pos_reset

                   genres   averages
0                  Action  51.256568
1               Adventure  64.881972
2        Audio Production  96.145610
3                  Casual  69.708927
4            Early Access  60.655011
5               Education  50.000000
6            Free to Play  69.713567
7        Game Development   0.000000
8                    Gore  53.891108
9                   Indie  69.559248
10  Massively Multiplayer  54.248029
11        No Second Genre  68.865934
12                 Nudity  61.827493
13                    RPG  68.502415
14                 Racing  62.972385
15             Simulation  63.981242
16      Software Training  53.750000
17                 Sports  62.579375
18               Strategy  67.400168
19       Video Production  66.666667
20                Violent  58.577150
21         Web Publishing   0.000000

In [46]:
g3_pos = data.groupby('genre_3')['pos_percent'].mean()
g3_pos_df = pd.DataFrame(g3_pos)
g3_pos_reset = g3_pos_df.reset_index()
g3_pos_reset.columns = ['genres', 'averages']
g3_pos_reset

                   genres   averages
0              Accounting  80.000000
1                  Action  52.689885
2               Adventure  51.485050
3        Audio Production  73.901099
4                  Casual  65.223595
5   Design & Illustration  71.214286
6            Early Access  65.123537
7               Education  29.166667
8            Free to Play  70.912931
9        Game Development  67.347339
10                   Gore  50.946916
11                  Indie  67.847525
12  Massively Multiplayer  56.250172
13         No Third Genre  69.182252
14                    RPG  67.830859
15                 Racing  65.569879
16             Simulation  65.406821
17                 Sports  65.516696
18               Strategy  68.260728
19              Utilities  62.857143
20                Violent  58.529862

In [47]:
g1g2pos_df = pd.merge(g1_pos_reset, g2_pos_reset, how='outer', left_on='genres', right_on='genres')

In [62]:
g1g2g3pos_df = pd.merge(g1g2pos_df, g3_pos_reset, how='outer', left_on='genres', right_on='genres')

In [63]:
g1g2g3pos_df

                   genres  averages_x  averages_y   averages
0                  Action   66.800660   51.256568  52.689885
1               Adventure   70.539446   64.881972  51.485050
2                  Casual   68.579227   69.708927  65.223595
3   Design & Illustration    0.000000         NaN  71.214286
4            Early Access   58.631548   60.655011  65.123537
5               Education   61.458333   50.000000  29.166667
6            Free to Play   66.580424   69.713567  70.912931
7                    Gore   56.226985   53.891108  50.946916
8                   Indie   68.018661   69.559248  67.847525
9   Massively Multiplayer   55.569236   54.248029  56.250172
10                 Nudity   57.498508   61.827493        NaN
11                    RPG   68.493733   68.502415  67.830859
12                 Racing   64.313721   62.972385  65.569879
13         Sexual Content   62.271419         NaN        NaN
14             Simulation   63.076899   63.981242  65.406821
15                 Sports   62.683509   62.579375  65.516696
16               Strategy   68.265567   67.400168  68.260728
17              Utilities    0.000000         NaN  62.857143
18                Violent   53.697837   58.577150  58.529862
19       Audio Production         NaN   96.145610  73.901099
20       Game Development         NaN    0.000000  67.347339
21        No Second Genre         NaN   68.865934        NaN
22      Software Training         NaN   53.750000        NaN
23       Video Production         NaN   66.666667        NaN
24         Web Publishing         NaN    0.000000        NaN
25             Accounting         NaN         NaN  80.000000
26         No Third Genre         NaN         NaN  69.182252

In [64]:
averages = g1g2g3pos_df.drop(columns=['genres'])

In [70]:
averages = averages.T.fillna(averages.mean(axis=1)).T

In [71]:
g1g2g3pos_df[['averages_x', 'averages_y', 'averages']] = averages[['averages_x', 'averages_y', 'averages']]

In [72]:
g1g2g3pos_df

                   genres  averages_x  averages_y   averages
0                  Action   66.800660   51.256568  52.689885
1               Adventure   70.539446   64.881972  51.485050
2                  Casual   68.579227   69.708927  65.223595
3   Design & Illustration    0.000000   35.607143  71.214286
4            Early Access   58.631548   60.655011  65.123537
5               Education   61.458333   50.000000  29.166667
6            Free to Play   66.580424   69.713567  70.912931
7                    Gore   56.226985   53.891108  50.946916
8                   Indie   68.018661   69.559248  67.847525
9   Massively Multiplayer   55.569236   54.248029  56.250172
10                 Nudity   57.498508   61.827493  59.663000
11                    RPG   68.493733   68.502415  67.830859
12                 Racing   64.313721   62.972385  65.569879
13         Sexual Content   62.271419   62.271419  62.271419
14             Simulation   63.076899   63.981242  65.406821
15                 Sports   62.683509   62.579375  65.516696
16               Strategy   68.265567   67.400168  68.260728
17              Utilities    0.000000   31.428571  62.857143
18                Violent   53.697837   58.577150  58.529862
19       Audio Production   85.023355   96.145610  73.901099
20       Game Development   33.673669    0.000000  67.347339
21        No Second Genre   68.865934   68.865934  68.865934
22      Software Training   53.750000   53.750000  53.750000
23       Video Production   66.666667   66.666667  66.666667
24         Web Publishing    0.000000    0.000000   0.000000
25             Accounting   80.000000   80.000000  80.000000
26         No Third Genre   69.182252   69.182252  69.182252

In [74]:
g1g2g3pos_df['average'] = g1g2g3pos_df[['averages_x', 'averages_y', 'averages']].mean(axis=1)

In [76]:
g1g2g3pos_df = g1g2g3pos_df[['genres', 'average']]

In [77]:
genres_df = pd.merge(genres_df, g1g2g3pos_df, how='left', left_on='genres', right_on='genres')

In [78]:
genres_df

                   genres    total    average
0                  Action  32387.0  56.915704
1               Adventure  30633.0  62.302156
2                  Casual  32132.0  67.837250
3                   Indie  49993.0  68.475145
4              Simulation   9859.0  64.154987
5                     RPG   8350.0  68.275669
6                Strategy   8258.0  67.975488
7            Free to Play   2902.0  69.068974
8                  Racing   1901.0  64.285328
9                 Violent    457.0  56.934949
10                 Sports   1641.0  63.593194
11         Sexual Content     95.0  62.271419
12  Massively Multiplayer    942.0  55.355812
13                 Nudity    100.0  59.663000
14                   Gore    266.0  53.688336
15           Early Access   2635.0  61.470032
16              Education      9.0  46.875000
17  Design & Illustration      3.0  35.607143
18              Utilities      3.0  31.428571
19      Software Training      2.0  53.750000
20       Audio Production      3.0  85.023355
21       Game Development      6.0  33.673669
22       Video Production      1.0  66.666667
23         Web Publishing      1.0   0.000000
24             Accounting      1.0  80.000000

review_score

In [79]:
g1_rev = data.groupby('genre_1')['review_score'].mean()
g1_rev_df = pd.DataFrame(g1_rev)
g1_rev_reset = g1_rev_df.reset_index()
g1_rev_reset.columns = ['genres', 'averages']

In [81]:
g2_rev = data.groupby('genre_2')['review_score'].mean()
g2_rev_df = pd.DataFrame(g2_rev)
g2_rev_reset = g2_rev_df.reset_index()
g2_rev_reset.columns = ['genres', 'averages']

In [83]:
g3_rev = data.groupby('genre_3')['review_score'].mean()
g3_rev_df = pd.DataFrame(g3_rev)
g3_rev_reset = g3_rev_df.reset_index()
g3_rev_reset.columns = ['genres', 'averages']

In [84]:
g1g2rev_df = pd.merge(g1_rev_reset, g2_rev_reset, how='outer', left_on='genres', right_on='genres')

In [85]:
g1g2g3rev_df = pd.merge(g1g2rev_df, g3_rev_reset, how='outer', left_on='genres', right_on='genres')

In [87]:
averages = g1g2g3rev_df.drop(columns=['genres'])

In [88]:
averages = averages.T.fillna(averages.mean(axis=1)).T

In [89]:
g1g2g3rev_df[['averages_x', 'averages_y', 'averages']] = averages[['averages_x', 'averages_y', 'averages']]

In [90]:
g1g2g3rev_df['avg_rev'] = g1g2g3rev_df[['averages_x', 'averages_y', 'averages']].mean(axis=1)

In [93]:
g1g2g3rev_df = g1g2g3rev_df[['genres', 'avg_rev']]

In [98]:
genres_df = pd.merge(genres_df, g1g2g3rev_df, how='left', left_on='genres', right_on='genres')

In [96]:
genres_df = genres_df.drop(columns=['averages_x', 'averages_y', 'averages', 'avg_rev_x', 'avg_rev_y'])

In [99]:
genres_df

                   genres    total    average   avg_rev
0                  Action  32387.0  56.915704  3.653845
1               Adventure  30633.0  62.302156  4.063247
2                  Casual  32132.0  67.837250  3.877880
3                   Indie  49993.0  68.475145  4.146436
4              Simulation   9859.0  64.154987  4.281080
5                     RPG   8350.0  68.275669  4.413776
6                Strategy   8258.0  67.975488  4.223122
7            Free to Play   2902.0  69.068974  5.644327
8                  Racing   1901.0  64.285328  4.001011
9                 Violent    457.0  56.934949  3.827975
10                 Sports   1641.0  63.593194  3.785226
11         Sexual Content     95.0  62.271419  4.273684
12  Massively Multiplayer    942.0  55.355812  4.004941
13                 Nudity    100.0  59.663000  4.527244
14                   Gore    266.0  53.688336  3.645131
15           Early Access   2635.0  61.470032  3.415956
16              Education      9.0  46.875000  0.555556
17  Design & Illustration      3.0  35.607143  1.500000
18              Utilities      3.0  31.428571  1.250000
19      Software Training      2.0  53.750000  2.500000
20       Audio Production      3.0  85.023355  7.250000
21       Game Development      6.0  33.673669  1.700000
22       Video Production      1.0  66.666667  5.000000
23         Web Publishing      1.0   0.000000  0.000000
24             Accounting      1.0  80.000000  0.000000